@import "../../styles/variable";

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 220px);
    background-color: #f5f5f5;

    .back_to_home {
        display: block;
        margin: 0 auto;
        width: 160px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        text-align: center;
        background-color: $primary-color;
        border-radius: 2px;
    }
}