.wrapper {
    padding: 0 0 20px;
    background-color: #f5f5f5;

    .flash_sale {
        width: 1200px;
        margin: 0 auto;
        background-color: var(--white);

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            padding: 0 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);

            .image {
                width: 130px;
                height: 30px;
            }

            .show_all {
                color: var(--primary-color);

                &_icon {
                    margin-left: 5px;
                }
            }
        }

        .content {
            padding: 10px 0;

            .swiper_wrapper {
                width: 1200px;

                .swiper_slide {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: var(--white);

                    .badge {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 0 3px;
                        background-color: rgba(255, 212, 36, 0.9);

                        &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -4px;
                            width: 0;
                            height: 0;
                            border-color: transparent rgba(255, 212, 36, 0.9);
                            border-style: solid;
                            border-width: 0 18px 4px;
                        }

                        .percent {
                            font-size: 12px;
                            color: var(--primary-color);
                        }

                        .text {
                            font-size: 12px;
                            text-transform: uppercase;
                            color: var(--white);
                        }
                    }

                    .image {
                        width: 170px;
                        height: 170px;
                    }

                    .price {
                        margin: 10px 0;
                        color: var(--primary-color);
                    }

                    .progress_bar {
                        height: 16px;
                        width: 135px;
                        border-radius: 50px;
                        background-color: #ffbda6;

                        .filler {
                            width: 20%;
                            height: 100%;
                            border-top-left-radius: inherit;
                            border-bottom-left-radius: inherit;
                            background-color: #eb1c17;

                            .text {
                                display: block;
                                width: 135px;
                                color: var(--white);
                                text-align: center;
                                text-transform: uppercase;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}
