.wrapper {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 30px auto 0;
    padding-bottom: 20px;

    .item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100px;

        .image {
            margin-bottom: 5px;
            width: 45px;
            height: 45px;
        }

        .title {
            text-transform: capitalize;
            font-size: 13px;
            text-align: center;
        }
    }
}