@mixin notify-aniamtion($name) {
    @keyframes #{$name} {
        from {
            transform: scale(0);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }
}

@mixin btn-wrapper {
    opacity: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 900;
    transition: opacity 0.2s linear;
}
