.wrapper {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background-color: #f5f5f5;

    .items {
        display: flex;
        padding: 0;
        list-style: none;

        .item {
            display: flex;
            align-items: center;

            .name_active {
                pointer-events: none;
                font-size: 14px;
                text-transform: capitalize;
            }

            .name {
                color: rgb(0, 0, 238);
                text-transform: capitalize;
                font-size: 14px;
            }

            .icon {
                margin: 0 5px;
                font-size: 11px;
            }
        }
    }
}
