.cus_prev,.cus_next {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 1px 12px 0 rgb(0 0 0 / 12%);
    background-color: #fff;
    font-size: 10px;
    color: #000;
    cursor: pointer;
}